{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% if app.user %}
            <div class="alert alert-success">
                Bienvenue, {{ app.user.email }} ! Vous êtes connecté en tant que {{ app.user.roles|join(', ') }}.
            </div>
            
            <div class="mt-4">
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
            </div>
        {% else %}
            <div class="alert alert-info">
                <p>Bienvenue sur notre application. Veuillez vous connecter pour continuer.</p>
                <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
