<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #f3f4f6;
            }

            .sidebar {
                background-color: #374152;
            }

            .sidebar-icon {
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: all 0.2s;
            }

            .sidebar-icon.active {
                background-color: #b91c1c; /* red-700 */
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            }

            .sidebar-icon:not(.active):hover {
                background-color: #374151; /* gray-700 */
            }

            .main-content {
                margin-left: 5rem;
                padding: 2rem;
                min-height: 100vh;
                width: calc(100% - 5rem);
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<!-- No Sidebar -->

<div class="main-content">
    {% block body %}{% endblock %}
</div>
</body>
</html>
